<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Project</title>
</head>
<body>
    <!-- Create New Blog Content -->
    <a href="{% url 'newblog' %}">글쓰기</a>

    <!-- Show Blog Content -->
    {% for blog in blogs %}
    <h2>{{blog.title}}</h2>
    <h5>{{blog.pub_date}}</h5>
    <p>{{blog.body}}</p>

    <a href="{% url 'update' blog.id %}"> 수정 </a>
    <a href="{% url 'delete' blog.id %}"> 삭제 </a>
    <hr>
    {% endfor %}
</body>
</html>